#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color: orange; /* задаем оранжевый цвет фона */
}

#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color:blueviolet; /* задаем оранжевый цвет фона */
}


#elem {
	width: 300px;
	height: 100px;
	color: white;
	background-color:aquamarine; 
}


#elem {
	border-width: 3px;    /* толщина 3px */
	border-style: solid;  /* в виде линии */
	border-color: red;    /* красный цвет */
	width: 300px;
	height: 100px;
}

#elem {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 300px;
	height: 100px;
}

#elem {
	border-width: 4px;
	border-style: solid;
	border-color:blue;
	width: 300px;
	height: 100px;
}

#elem {
	border-width: 4px;
	border-style: dotted;
	border-color:red;
	width: 300px;
	height: 100px;
}